.product-list {
  display: flex;
  flex-direction: column;
  width: 75%
}

.product-list__products-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.product-list__show-more-button {
  margin: auto;
  border: 2px solid;
  width: 20em;
  height: 3em;
  text-align: center;
  vertical-align: middle;
  line-height: 3em;
}

.product-list__show-more-button_disabled {
  margin: auto;
  border: 2px solid;
  width: 20em;
  height: 3em;
  text-align: center;
  vertical-align: middle;
  line-height: 3em;
  color: #f2f2f2;
  cursor: not-allowed;
}

.product-container {
  flex: 1 1 16em;
  height: 23em;
}

.product-view {
  margin: auto;
  width: 17.9em;
  height: 21em;
  border: 1px solid black;
}

.product__preview {
  width: 16em;
  height: 14em;
  background: #f2f2f2;
  border: 1px solid gray;
  margin: auto;
  margin-top: .7em
}

.product__title {
  flex: 1 0 100%;
  text-decoration: underline;
}

.product__info {
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
  width: 16em;
}

.product__price {
  flex: 1 0;
}

.product__to-basket {
  flex: 1 0;
  background: #00f;
  border: none;
  color: white;
}
