.product-list_basket {
  display: flex;
  flex-direction: column;
  width: 75%
}

.product-list__products-container_basket {
  display: flex;
  flex-flow: row wrap;
  /*width: 75%;*/
  justify-content: center;
}

.product-container_basket {
  /*flex: 1 1 16em;*/
  /*height: 23em;*/
  /*border: 1px solid red;*/
}

.product-view_basket {
  max-width: 50em;
  display: flex;
  border: 1px solid black;
}

.product__preview_basket {
  width: 5em;
  height: 5em;
  background: #f2f2f2;
  border: 1px solid gray;
}

.product__title_basket {
  flex: 1 0 25em;
  text-decoration: underline;
}

.product__info_basket {
  display: flex;
}

.product__price_basket {
  flex: 1 0 10em;
}

.product__to-basket_basket {
  flex: 1 0 8em;
  background: #00f;
  border: none;
  color: white;
}
