.product-list_basket {
  display: flex;
  flex-direction: column;
  width: 75%
}

.product-list__products-container_basket {
  display: flex;
  flex-flow: row wrap;
  /*width: 75%;*/
  justify-content: center;
}

.product-container_basket {
  flex: 1 1 16em;
  height: 23em;
  /*border: 1px solid red;*/
}

.product-view_basket {
  /*flex: 1 1 14em;*/
  margin: auto;
  width: 17.9em;
  height: 21em;
  border: 1px solid black;
}

.product__preview_basket {
  width: 16em;
  height: 14em;
  background: #f2f2f2;
  border: 1px solid gray;
  margin: auto;
  margin-top: .7em
}

.product__title_basket {
  flex: 1 0 100%;
  text-decoration: underline;
}

.product__info_basket {
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
  width: 16em;
  /*text-decoration: underline;*/
}

.product__price_basket {
  flex: 1 0;
}

.product__to-basket_basket {
  flex: 1 0;
  background: #00f;
  border: none;
  color: white;
}
