.nav-menu {
  display: flex;
  font-size: 4em;
}

.nav-menu_footer {
  background: white;
  flex-grow: 3;
  display: flex;
  justify-content: space-around;
}

.nav-menu__link {
  flex-grow: 1;
  color: black;
}

.nav-menu__empty-space {
  flex-grow: 20;
}
